@font-face {
  font-family: "ConfigCondensed";
  src: url("../../fonts/ConfigCondensed-Light.otf");
}
@font-face {
  font-family: "ConfigCondensedBold";
  src: url("../../fonts/ConfigCondensed-Bold.otf");
}

@media only screen and (orientation: portrait) {
  .information {
    display: block;
    flex-direction: column;
    justify-content: "center";
    float: bottom;
    text-align: left;
  }
  .profile-name {
    font-size: 110px;
  }
}

@media only screen and (orientation: landscape) {
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    text-align: left;
  }
  .profile-name {
    font-size: 50px;
  }
}

.profile-name {
  color: white;
  line-height: 10px;
  margin-left: 10px;
  font-family: "ConfigCondensed";
  font-weight: bolder;
}

body {
  height: 100%;
  margin: 0px;
  background-image: url("../../assets/network.jpeg");
  background-size: cover;
}
