@font-face {
  font-family: "ConfigCondensed";
  src: url("../../fonts/ConfigCondensed-Light.otf");
}
@font-face {
  font-family: "ConfigCondensedBold";
  src: url("../../fonts/ConfigCondensed-Bold.otf");
}

@media only screen and (orientation: portrait) {
  .profile-container {
    display: flex;
    flex-direction: column;
  }
  .information {
    flex-direction: column;
    justify-content: "center";
    float: bottom;
    text-align: left;
  }
  .profile-name {
    font-size: 110px;
    line-height: 110px;
  }
}

@media only screen and (orientation: landscape) {
  .profile-container {
    display: flex;
    flex-direction: row;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content:center ;
  }
  .profile-name {
    font-size: 50px;
    line-height: 50px;
  }
}

.link-list {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.profile-name {
  color: white;
  margin-left: 15px;
  font-family: "ConfigCondensed";
  font-weight: bolder;
}

body {
  background-image: url("../../assets/images/network.jpeg");
  background-size: cover;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}
