@media only screen and (orientation: portrait) {
  .profileImage {
    width: 100%;
    margin-bottom: 5%;
  }
}

@media only screen and (orientation: landscape) {
  .profileImage {
    height: 250px;
    width: 250px;
  }
}

.profileImage {
  border-radius: 100%;
  box-shadow: 5px 5px 20px black;
  border: 3px solid #1e2942;
  float: left;
}
